@font-face {
	font-family: MarckScript;
	src: url(../fonts/MarckScript.ttf);
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: OpenSans;
	src: url(../fonts/OpenSans-Regular.ttf);
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: PTSerif;
	src: url(../fonts/PTSerif-Bold.ttf);
	font-style: normal;
	font-weight: 700;
}
:root {
	font-size: 1.2em;
	--c-b: rgb(20, 4, 4);
	--c-w: rgb(255, 255, 255);
	--c-r: rgb(215, 24, 19);
	--bg-c: rgb(210, 210, 210);
}
.page {
	font-family: OpenSans;
	font-size: 1rem;
}
.header {
	background: var(--c-w);
}
.wrapper {
	max-width: 1400px;
	margin: 0 auto;
}
.header__wrap {
	height: 4em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo__link {
	text-decoration: none;
}
.logo {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 5.5em;
}
.logo-red {
	font-family: PTSerif;
	font-size: 2rem;
	text-align: center;
	line-height: 1.3;
	color: var(--c-w);
	background: var(--c-r);
	flex-grow: 1;
}
.logo-white {
	font-family: PTSerif;
	font-size: 2rem;
	text-align: center;
	line-height: 1.3;
	color: var(--c-r);
	background: var(--c-w);
	flex-grow: 1;
}
.nav {
	flex-basis: 50%;
	display: flex;
}
.menu {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu__item {
	width: 8em;
	text-align: center;
	position: relative;
}
.menu__item:before,
.menu__item:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	width: 0;
	height: 3px;
	background: var(--c-r);
	transition: 0.8s;
	margin: 0 auto;
}
.menu__item:before {
	top: -1.4em;
}
.menu__item:after {
	bottom: -1.4em;
}
.menu__item:hover:before,
.menu__item:hover:after {
	width: 100%;
	color: var(--c-r);
}
.menu__item:hover .menu__link {
	color: var(--c-r);
}
.menu__link {
	font-family: PTSerif;
	font-size: 0.9rem;
	text-decoration: none;
	color: var(--c-b);
	text-transform: uppercase;
	transition: 0.3s;
}
.sub-menu {
	display: none;
	position: absolute;
	top: 2.63em;
	left: 0;
	width: 100%;
	background: var(--c-w);
	z-index: 3;
	list-style: none;
}
.sub-menu__item {
	position: relative;
	padding: 0.5em 0.3em;
	text-align: left;
}
.sub-menu__item:after {
	content: "";
	position: absolute;
	top: 2.1em;
	left: 0;
	width: 0;
	height: 3px;
	background: var(--c-r);
	transition: 0.3s;
}
.sub-menu__item:hover:after {
	width: 100%;
}
.sub-menu__link {
	font-family: PTSerif;
	font-size: 0.8rem;
	text-decoration: none;
	color: var(--c-b);
	text-transform: uppercase;
	text-align: left;
	transition: 0.3s;
}
.sub-menu__link:hover {
	color: var(--c-r);
}
.menu__arrow {
	font-size: 0.5rem;
	display: block;
	vertical-align: middle;
	position: absolute;
	top: 0.7em;
	right: 0.7em;
	transition: 0.5s;
}
.menu__item:hover .menu__arrow  {
	transform: rotate(180deg);
}
.header__lang {
	cursor: pointer;
}
.phone__link {
	text-decoration: none;
	color: var(--c-r);
	font-family: MarckScript;
	font-size: 2rem;
}
.burger {
	display: none;
}
.burger__item {
	height: 3px;
	width: 30px;
	display: block;
	background-color: var(--c-b);
	margin-bottom: 5px;
}
.burger__item:last-child {
	margin-bottom: 0;
}
.main {
	height: 92vh;
	position: relative;
}
.main__video {
	object-fit: cover;
	height: 92vh;
	width: 100%;
}
.main__title {
	position: absolute;
    top: 3em;
    left: 2.5em;
	color: var(--c-r);
	font-family: PTSerif;
	font-size: 4em;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-style: italic;
}
.title {
	padding-top: 2em;
	text-align: center;
	font-size: 2rem;
	text-transform: uppercase;
	position: relative;
}
.title:after {
    content: "";
    position: absolute;
    top: 3.6em;
    left: 48%;
    transform: translate(10px,5px);
    width: 50px;
    height: 3px;
    background: var(--c-r);
}
.product__items {
	margin-top: 4em;
	padding-bottom: 3em;
	display: flex; 
	justify-content: center;
	flex-wrap: wrap;
}
.product__item {
	flex: 0 0 32%;
	height: 300px;
	position: relative;
	cursor: pointer;
}
.product__item:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0;
	background: rgb(255, 255, 255, 0.7);
	transition: height 0.7s;
}
.product__item + .product__item {
	margin-left: 1em;
}
.product__item:nth-child(n+4) {
	margin-top: 1em;
}
.product__item:hover:after {
	height: 4em;
}
.product__img {
	width: 100%;
	height: 100%;
}
.product__text {
	position: absolute;
	top: 12em;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	padding-top: 1em;
	color: var(--c-r);
	font-family: PTSerif;
	opacity: 0;
	z-index: 3;
	transition: opacity 1s;
}
.product__item:hover .product__text {
	opacity: 1;
}
.services {
	background-color: rgb(40, 22, 20);
}
.title-w {
	color: var(--c-w);
}
.services__items {
	margin-top: 4em;
	padding-bottom: 3em;
	display: flex; 
	justify-content: space-between;
	flex-wrap: no-wrap;
}
.services__item {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.services__item + .services__item {
	margin-left: 2em;
}
.service__icon {
	color: var(--c-r);
	font-size: 3em;
	margin-bottom: 0.5em;
}
.service__title {
	color: var(--c-w);
	font-size: 1.5em;
	margin-bottom: 0.5em;
}
.service__text {
	color: var(--c-w);
	text-align: center;
}
.materials__items {
	margin-top: 4em;
	padding-bottom: 3em;
	display: flex; 
	justify-content: space-between;
	flex-wrap: no-wrap;
}
.materials__item {
	flex: 0 0 45%;
}
.stone__title {
	color: var(--c-r);
	text-align: center;
	font-size: 1.5rem;
	font-family: PTSerif;
	margin-bottom: 1em;
}
.stone__list {
	margin-top: 0.5em;
	margin-bottom: 1em;
	list-style-position: inside;
	color: var(--c-r);
}
.stone__item_text {
	color: var(--c-b);
}
.stone-gallery {
	display: flex;
}
.stone-gallery__item + .stone-gallery__item {
	margin-left: 1em;
}
.stone-gallery__img {
	width: 150px;
	height: 150px;
}
.stone-gallery__text {
	text-align: center;
}
.color-table {
	margin-top: 2em;
	display: flex;
	flex-wrap: wrap;
}
.color-table__item {
	width: 70px;
	height: 50px;
	flex: 0 0 20%;
}
.color-table__item + .color-table__item {
	margin-left: 1em;
}
.color-table__item:nth-child(n+5) {
	margin-top: 1em;
}
.color-table__item:nth-child(5) {
	margin-left: 0;
}
.color-table__item-b {
	background-color: rgb(0, 0, 0);
}
.color-table__item-g {
	background-color: rgb(113, 133, 51);
}
.color-table__item-r {
	background-color: rgb(194, 17, 14);
}
.color-table__item-o {
	background-color: rgb(252, 142, 58);
}
.color-table__item-bl {
	background-color: rgb(53, 107, 140);
}
.color-table__item-y {
	background-color: rgb(235, 231, 33);
}
.color-table__item-gr {
	background-color: rgb(82, 140, 70);
}
.color-table__item-grw {
	background-color: rgb(145, 141, 131);
}
.footer {
	height: 15vh;
	background-color: rgb(31, 25, 23);
}
.footer__items {
	padding-top: 2em;
	display: flex;
	justify-content: space-between;
}
.footer__social {
	color: var(--c-w);
	font-size: 2.5rem;
}
.footer__contact {
	display: flex;
	flex-direction: column;
}
.footer__contact a {
	color: var(--c-w);
	text-decoration: none;
}
.adress {
	color: var(--c-w);
	flex-basis: 30%;
}
@media (max-width: 1450px) {
	.wrapper {
		padding: 0 1em;
	}
}
@media (max-width: 1024px) {
	.menu {
		display: none;
	}
	.nav {
		order: 4;
		flex-basis: auto;
	}
	.burger {
		display: block;
		cursor: pointer;
	}
	.burger__item-top {
		transform: rotate(-43deg) translateX(-5px) translateY(2px);
		transition: 0.5s;
		z-index: 3;
	}
	.burger__item-middle {
		position: absolute;
		opacity: 0;
	}
	.burger__item-bottom {
		transform: rotate(43deg) translateX(-3px) translateY(-1px);
		transition: 0.5s;
		z-index: 3;
	}
	.menu {
		position: absolute;
		top: 4em;
		right: 0;
		z-index: 20;
		background: var(--c-w);
		border-top: 1px solid var(--c-r);
		width: 20vw;
	}
	.menu__item {
		width: 100%;
		text-align: right;
		height: 2.5em;
	}
	.menu__item:first-child {
		margin-top: 1em;
	}
	.menu__link {
		display: inline;
		vertical-align: middle;
		font-size: 0.9rem;
		padding-right: 1em;
	}
	.menu__arrow {
		display: block;
		top: 0.8em;
		right: 14.2em;
		transform: rotate(90deg);
	}
	.menu__item:hover .menu__arrow  {
		transform: rotate(-90deg);
	}
	.menu__item:before,
	.menu__item:after {
		display: none;
	}
	.sub-menu {
		position: absolute;
	    top: 0;
	    right: 0;
		width: 8em;
		margin-left: -8em;
	}
	.main__title {
	    top: 5em;
	    left: 1em;
		font-size: 3em;
	}
	.title:after {
	    top: 3.6em;
	    left: 48%;
	    transform: translate(0px,5px);
	}
	.product__item {
		pointer-events: none;
	}
	.product__item + .product__item {
		margin-left: 0.2em;
	}
	.product__item:nth-child(n+4) {
		margin-top: 1em;
	}
	.product__item:after {
		height: 3em;
	}
	.menu__item:before,
	.menu__item:after {
		display: block;
	}
	.product__item:hover:after {
		height: 4em;
	}
	.product__text {
		top: 12.5em;
		padding-top: 1em;
		color: var(--c-r);
		font-family: PTSerif;
		opacity: 1;
	}
	.services__items {
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.services__item {
		flex: 0 0 40%;
		display: flex;
	}
	.services__item + .services__item {
		margin-left: 0;
	}
	.services__item:nth-child(-n+2) {
		margin-bottom: 2em;
	}
	.service__icon {
		font-size: 2.5em;
	}
	.service__title {
		font-size: 1.2em;
	}
	.service__text {
		font-size: 0.9rem;
	}
}
@media (max-width: 850px) {
	:root {
		font-size: 1em;
	}
	.phone__link {
	    font-size: 1.7rem;
	}
	.menu {
		width: 40vw;
	}
	.menu__item {
		text-align: center;
	}
	.menu__arrow {
		top: 0.8em;
		right: 0;
		left: -16em;
	}
	.main__title {
	    top: 7em;
	    left: 0.7em;
		font-size: 2.5em;
	}
	.title {
		padding-top: 1.5em;
		font-size: 1.8rem;
	}
	.title:after {
	    top: 3em;
	    left: 46%;
	    transform: translate(10px,5px);
	}
	.product__items {
		margin-top: 3em;
		margin-bottom: 2em;
	}
	.product__item {
		flex: 0 0 45%;
		margin-bottom: 0.5em;
	}
	.product__item:last-child {
		margin-bottom: 0;
	}
	.product__item:nth-child(n+4) {
		margin-top: 0;
	}
	.product__item + .product__item {
		margin-left: 0;
	}
	.product__item:nth-child(even) {
		margin-left: 0.5em;
	}
	.product__text {
		top: 15.5em;
	}
}
@media (max-width: 500px) {
	.menu {
		padding-top: 2em;
		width: 100vw;
		/*height: 27vh;*/
	}
	.menu__link {
	    display: inline;
	    vertical-align: middle;
	    font-size: 1.2rem;
	    padding-right: 0;
	}
	.menu__item {
		margin-bottom: 0.5em;
		position: relative;
	}
	.menu__arrow {
		left: -16em;
		font-size: 0.6rem;
		width: auto;
	}
	.sub-menu {
		top: 2em;
		left: 0;
		width: 100%;
		margin-left: 0;
	}
	.sub-menu__item {
	    padding: 0.5em 0.3em;
	    text-align: center;
	}
	.product__item {
		flex: 1 0 100%;
		margin-bottom: 0.5em;
	}
	.product__item:nth-child(even) {
		margin-left: 0;
	}
	.services__item {
		flex: 0 0 80%;
	}
	.services__item + .services__item {
		margin-top: 2em;
	}
	.services__item:nth-child(-n+2) {
		margin-bottom: 0;
	}
	.service__icon {
		margin-bottom: 0.3em;
	}
}